body{
    color: gold;
}
.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 10px;
    background: rgb(10, 11, 114);
    font-size: 3rem;
    min-width: 80rem;
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(51, 27, 156, 0.699);
    transform: scale(1.02);
    transition: transform 100ms;
}
.choice-prefix{
    padding: 2rem 2.5rem;
}
.choice-text{
    padding: 2rem;
    width: 100%;
}
.correct{
    background: linear-gradient(90deg, green 0%,rgb(2, 94, 2) 100% );
}
.incorrect{
    background: linear-gradient(90deg, rgb(230, 29, 29) 0%,rgb(224, 11, 12) 100% );
}
/*Heads up display*/
#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}
.hud-main-text{
    text-align: center;
}
#progressBar{
    height: 2rem;
    width: 30rem;
    border:0.2rem solid green;
    border-radius: 50px;
    overflow: hidden;
}
#progressBarFull{
    height: 100%;
    background-color: green;
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container{
        min-width: 40rem;
    }
}